name: Android CI

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: set up JDK 8
      uses: actions/setup-java@v4
      with:
        java-version: '8.0.302+8'
        distribution: 'temurin'
        cache: gradle
    - name: Set up Android SDK
      uses: android-actions/setup-android@v3
    - name: Add SDK tools to PATH
      run: echo "$ANDROID_HOME/cmdline-tools/latest/bin" >> $GITHUB_PATH
    - name: Install Android SDK 21
      run: sdkmanager "platforms;android-21"

    - name: Grant execute permission for gradlew
      run: chmod +x gradlew
    - name: Build with Gradle
      run: ./gradlew build
